<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
<form action="#" th:action="@{/signup}" method="post"  th:object="${user}">

    <table>
            <tr><td>username</td> <td> <input th:type="text" name="username" th:field="*{username}" /></td></tr>
            <tr><td>Password</td> <td> <input th:type="password" name="password" th:field="*{password}"/></td></tr>
            <tr><td>Firstname</td><td> <input th:type="text" name="firstname" th:field="*{firstname}"/></td></tr>
            <tr><td>Lastname</td><td> <input th:type="text" name="lastname" th:field="*{lastname}"/></td></tr>
            <tr><td>Email</td><td> <input th:type="email" name="email" th:field="*{email}"/></td></tr>
            <tr><td>birthday</td><td> <input th:type="date" name="birthday" th:field="*{birthday}"/></td></tr>
            <tr><td>age</td><td> <input type="number" name="age" th:field="*{age}"/></td></tr>
            <!--<tr><td>enabled</td><td> <input type="radio"  name="enabled" value="false" th:field="*{enabled}"/></td></tr>-->
            <tr><td>enabled</td><td> <input type="radio" th:field="*{enabled}" th:value="false" /></td></tr>
        <tr><td></td><td> <input type="submit" th:type="submit" class="btn waves-light" vlaue="signup" /></td></tr>

    </table>
</form>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="materialize.min.js"></script>-->
<!--<script src="main.js"></script>-->

</body>

</html>
